<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login con ion grid</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content padding>
  <ion-button expand="block" routerLink="/menu/first">Login</ion-button>
</ion-content> -->
<ion-grid fixed>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="8" sizeLg="6" sizeXl="4">
      <div class="ion-text-center ion-padding">
        <img src="../../assets/icon_1.png" alt="FCC" width="50%">
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="8" sizeLg="6" sizeXl="4">
      <ion-card>
        <ion-card-content>
          <form (ngSubmit)="doLogin()">
            <ion-input mode="md" fill="outline" labelPlacement="floating" label="Email" type="email" placeholder="email"></ion-input>
            <ion-input mode="md" class="ion-margin-top" fill="outline" labelPlacement="floating" label="password" type="password" placeholder="password"></ion-input>
            <ion-button expand="block" class="ion-margin-top" type="submit">
              Login
              <ion-icon name="airplane-outline" slot="end"></ion-icon>
            </ion-button>
            <ion-button expand="block" class="ion-margin-top" color="secondary" (click)="sendPageRegister()">
              Create Account
              <ion-icon name="alert-circle-outline"></ion-icon>
            </ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>