<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      FreeCodeCamp LIVE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->

  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" sizeMd="8" sizeLg="6" sizeXl="4">
        <div class="ion-text-center ion-padding">
          <img src="../../assets/icon_1.png" alt="FCC" width="50%">
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" sizeMd="8" sizeLg="6" sizeXl="4">
        <ion-card>
          <ion-card-content>
            <form (ngSubmit)="doLogin()">
              <ion-input fill="outline" labelPlacement="floating" label="Email" type="email" placeholder="email"></ion-input>
              <ion-input class="ion-margin-top" fill="outline" labelPlacement="floating" label="password" type="password" placeholder="password"></ion-input>
              <ion-button expand="block" class="ion-margin-top" type="submit">
                Login
                <ion-icon name="airplane-outline" slot="end"></ion-icon>
              </ion-button>
              <ion-button expand="block" class="ion-margin-top" color="secondary" (click)="sendPageRegister()">
                Create Account
                <ion-icon name="alert-circle-outline"></ion-icon>
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-item-divider>
    <ion-label>text Align</ion-label>
  </ion-item-divider>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <h3>text-start</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-end">
          <h3>text-end</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-center">
          <h3>text-center</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-justify">
          <h3>text-justify</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-wrap">
          <h3>text-wrap</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-nowrap">
          <h3>text-nowrap</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item-divider>
    <ion-label>Margin</ion-label>
  </ion-item-divider>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-margin">
        <div>margin</div>
      </ion-col>
      <ion-col class="ion-margin-top">
        <div>margin-top</div>
      </ion-col>
      <ion-col class="ion-margin-start">
        <div>margin-start</div>
      </ion-col>
      <ion-col class="ion-margin-end">
        <div>margin-end</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-margin-bottom">
        <div>margin-bottom</div>
      </ion-col>
      <ion-col class="ion-margin-vertical">
        <div>margin-vertical</div>
      </ion-col>
      <ion-col class="ion-margin-horizontal">
        <div>margin-horizontal</div>
      </ion-col>
      <ion-col class="ion-no-margin">
        <div>no-margin</div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
